<mj-section>
  <mj-column>
    <mj-text>
      <p
        >We have a number of important changes to announce, effective immediately.</p
      >
      <h2>We have online ordering!</h2>
      <p>Securely place an order and pay at any time, day or night, <a href="https://www.multietch.com/">on our website</a>.</p>
      <p>Or, if you prefer, you can continue to call in your orders.</p>
    </mj-text>

    <mj-button
      mj-class="button"
      css-class="button"
      href="https://www.multietch.com/"
      title="Order Multi-Etch online"
      >Place an order now</mj-button
    >
    <mj-text>
      <h2>Updated pricing</h2>
      <p><b>We have not had any significant price changes for more than five years</b>, but due to increased raw materials and supply-chain costs, we have had to increase our prices slightly:</p>
    </mj-text>
      <mj-list padding-left="5px">
        <mj-li padding-left="10px">Orders of 1–19 bags, $59 each</mj-li>
        <mj-li padding-left="10px">Orders of 20–49 bags, $56 each</mj-li>
        <mj-li padding-left="10px">Orders of 50 or more bags, $53 each</mj-li>
      </mj-list>
    <mj-text>
      <p>These new prices are effective immediately — however, <b>companies with existing contracts will not be affected</b> until the end of the contract period.</p>
      <h2>New distribution contacts</h2>
      <p>In a greater effort to manage our costs and supply chains, distribution of Multi-Etch is coming in-house and will be headed up by our new Sales Manager, Antonio Giordano <a href="mailto:Antonio@MultiEtch.com">Antonio@MultiEtch.com</a> and crew.</p>
      <p>There will be a transition period, June 21–July 21, during which time you can order Multi-Etch <a href="https://www.multietch.com/">directly online</a>, by calling us at <a href="tel:8002976707">800-297-6707</a>, or by calling Reactive Metals Studio at <a href="tel:8008763434">800-876-3434</a> until July 20, 2022.</a>
    </mj-text>
    <mj-divider border-color="#46175b" padding-bottom="18px"></mj-divider>
    <mj-text>
      <p>As always, if you have any technical questions or need assistance with optimizing your etching process, please <a href="tel:8002976707">call us</a> or email us at <a href="mailto:info@MultiEtch.com">info@MultiEtch.com</a>.</p>
      <p>We want to emphasize that <b>we are not changing anything about production, so rest assured that you will receive exactly the same quality product</b> you are used to receiving.</p>
      <p>We thank you for your continued patronage and invite you to call or email with any concerns about the changes described above.</p>
    </mj-text>
  </mj-column>
</mj-section>
