<mj-section>
  <mj-column>
    <mj-text>
      <p
        >We developed Multi-Etch in 1993 in order to use something safer than
        hydrofluoric acid to etch titanium. Although still considered hazardous,
        Multi-Etch has grown steadily for the last 15 years as the safer
        alternative. Not all uses of hydrofluoric have a safer alternative but
        using Multi-Etch to strip off the naturally-occuring oxide layer on
        titanium is a no-brainer.</p
      >
      <p
        >This is one in a series of free online classes from
        <a href="http://ipecglobal.com/">IPEC Global</a> about etching and
        anodizing titanium. The information is not new but is still very
        relevant. There are several more lessons on anodizing that are
        <a href="https://www.anodizetitanium.com/"
          >available free with an email</a
        >.</p
      >
    </mj-text>
    <mj-divider border-color="#46175b"></mj-divider>
    <mj-text>
      <h3>Etching safety and environmental issues: An overview</h3>
      <p>By Mark Emilio, IPEC Global</p>
      <p
        >I want to say from the outset that I consider titanium anodizing to be
        one of the most environmentally friendly and safest kinds of metal
        finishing or anodizing being done today. That said, depending upon which
        chemicals you choose, the potential risks to the environment and the
        safety of your employees are factors that you need to be aware of. You
        also have to understand that there are numerous options in the kinds of
        chemistry you can choose. This means that you can increase or decrease
        the risks of doing titanium anodizing by simply choosing the proper
        chemicals, equipment and procedures.</p
      >
      <p
        >Environmental and safety concerns are not the same thing. They are
        regulated by different agencies and each has its own problems and
        solutions. When talking about environmental and safety issues, the best
        thing you can do for yourself is to be informed. And the worst thing you
        can do is to stick your head in the sand, ignore the regulations, and
        hope nobody finds out. IPEC Global has been doing this kind of work for
        the past 30 years and have learned that you can do this and do it well,
        but only if you decide to do it right.</p
      >
    </mj-text>
    <mj-button
      mj-class="button"
      css-class="button"
      href="https://www.multietch.com/blog/etching-safety-environmental-issues"
      title="Continue reading this article"
      >Continue reading</mj-button
    >
    <mj-text>
      <p
        ><i
          >There are still companies that have been using HF for a long time and
          for those companies, we offer the following
          <a
            href="https://www.cmu.edu/ehs/Laboratory-Safety/chemical-safety/documents/sop-for-the-use-of-hydrofluoric-acid.pdf"
            >new protocols for using hydrofluoric acid (PDF)</a
          >
          from Carnegie Mellon University's
          <a
            href="https://www.cmu.edu/piper/news/archives/2021/august/august-5-briefs.html"
            >Hydrofluoric Acid Safety Program</a
          >.</i
        ></p
      >
    </mj-text>
  </mj-column>
</mj-section>
